# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Folders
Release
Debug
x64
bin
obj
**/Properties/launchSettings.json
.vs
*.vcxproj.user

# CMake folders
out
build-dir
out.*linux*
out.*mingw*
_packages
src/tools/dumpextfs/dumpextfs